<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <nav style="display: flex; list-style: none; text-decoration: none; gap: 20px">
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">Профиль</a></li>
            <li><a href="/reg/">Регистрация</a></li>
            <li><a href="/login/">Войти</a></li>
            <li><a href="/api/v1/create_task/">Создание задачи</a></li>
            <li><a href="/api/v1/tasks/">Задачи</a></li>
            <li><a href="/api/v1/create_project/">Создание проекта</a></li>
            <li><a href="/api/v1/projects/">Проекты</a></li>
        </nav>
    </header>
    <div id="notifications" style="text-align: right;"></div>
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/notifications/');

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            alert(data.message); // Показываем уведомление
        };

        socket.onopen = function(event) {
            console.log('WebSocket connection established');
        };

        socket.onclose = function(event) {
            console.log('WebSocket connection closed');
        };
    </script>
    {% block content %}{% endblock %}
</body>
</html>