{% extends 'main/base.html' %}


{% block title %}
Регистрация
{% endblock %}

{% block content %}
        <div>
{% if user.is_anonymous %}

<form class="form-signin" method="post" action="{% url 'register' %}" style="display: flex; flex-direction: column">

    {% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Создать аккаунт</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="Username"
           value="" required="" autofocus="" data-cip-id="inputUsername">

    <label for="inputSurname" class="sr-only">Surname</label>
    <input type="text" id="inputSurname" class="form-control" placeholder="Surname" name="Surname"
           value="" required="" autofocus="" data-cip-id="inputSurname">

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email"
         value="" required="" autofocus="" data-cip-id="inputEmail">


    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
         name="password" required="" data-cip-id="inputPassword">
    <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль"
         name="password2" required="" data-cip-id="inputPassword">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
</form>
    {% else %}
    <p class="text-success">{{ user|upper}}, Вы уже зарегистрированы. <br> <a href="{{ '/' }}">Перейти на главную</a></p>
    {% endif %}
</div>
{% endblock %}